@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    nord,
    lemonade,
    night --prefersdark,
    sunset;
}

[data-theme='night'] {
  --bc: 0 0% 95%; /* más blanco (antes era más gris oscuro) */
}

[data-theme='light'] {
  --bc: 0 0% 20%; /* más oscuro para modo claro, mejora contraste */
}

body {
  margin: 0;
  padding: 0;
}
